@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oswald", sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

::selection {
    color: black;
    background: rgb(255, 255, 255);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: black;
    padding: 2.5rem;
    /*box-shadow: black 0px 0px 10px;*/
    flex-flow: row wrap;
    z-index: 999
}

.header nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin: 0px 10px;
    position: relative;
    font-size: 20px
}

.header nav a::after {
    content: '';
    width: 0;
    background: white;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s ease-in-out
}

.header nav a:hover::after {
    content: '';
    width: 50%;
    background: white;
    height: 1px;
    position: absolute;
    bottom: 0;
}

.header nav a:nth-child(1) {
    margin-left: 0;
}

.header-logo {
    background: url("./assets/logo.png");
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
    border-radius: 100%;
    transition: transform .2s ease;
}

.header-logo:hover {
    transform: scale(1.04);
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    margin: 0 5px
}

.social.youtube {
    background: url("./assets/youtube.svg");
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.social.discord {
    background: url("./assets/Discord-Logo-Color.svg");
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.sec-header {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.gaming {
    background: url("./assets/gaming.jpg");
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 140px;
}

/*.svgsection {
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    top: 0;
    left: 0;
    padding: 100px;
    background: black;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
}*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    padding: 2rem;
    color: white;
    font-weight: 500;
}

footer .footer {
    display: flex;
    flex-flow: row wrap;
}

footer .footer .footer-content {
    flex: 1 0 calc(100%/4);
    align-items: center;
    justify-content: center;
    text-align: center;
}